img {
  width: 60px;
  height: 60px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  text-align-last: center;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

mat-header-cell {
  display: flex;
  justify-content: center;
}

mat-cell {
  justify-content: center !important;
}

.mat-row,
.mat-header-row {
  min-width: 2500px;
  width: 100%;
}

