<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">
  <ngx-spinner [fullScreen]="false" type="square-jelly-box" size="medium">
    <p style="color: #3f51b5"> Loading... </p>
  </ngx-spinner>
  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <input [disabled]="true" type="text" [(ngModel)]="row.Id" id="Id" matInput>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="User">
      <mat-header-cell *matHeaderCellDef mat-sort-header> User </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-select [disabled]="true" [(ngModel)]="row.Userid" placeholer="Username" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let user of users" [value]="user.Id">{{user.Username}} </mat-option>
        </mat-select>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Lesson">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Lesson </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-select [disabled]="!row.editing" [(ngModel)]="row.Lessonid" placeholer="Lesson" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let lesson of lessons" [value]="lesson.Lessonid">{{lesson.Lesson}} </mat-option>
        </mat-select>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Duration">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Months </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
          <input [disabled]="!row.editing" min="1" max="12" type="number" [(ngModel)]="row.Duration" id="Duration"
            matInput>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Price">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Price &euro; </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
          <input appIsDecimalDirective matInput type="text" placeholder="00.00" [(ngModel)]="row.Price"
            [disabled]="!row.editing" maxlength='5' required>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
          <input matInput type="text" [matDatepicker]="picker" placeholder="Date" id="date" name="date"
            [(ngModel)]="row.Date" [disabled]="!row.editing" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ExpDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Exp. Date </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
          <input matInput type="text" [matDatepicker]="picker" placeholder="ExpDate" id="expdate" name="expdate"
            [(ngModel)]="row.ExpDate" [disabled]="!row.editing" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Discount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Discount </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
          <mat-select [disabled]="!row.editing" [(ngModel)]="row.Discount" placeholer="Discount" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let discount of discounts" [value]="discount.value">{{discount.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <div class="auto-width mat-form-field mat-select-value">
      <ng-container matColumnDef="Days">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Days </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-select [disabled]="!row.editing" [(ngModel)]="row.Day" #dayv="ngModel" name="selectedValue"
            id="selectedValue" required multiple>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let d of day" [value]="d.Id">
              {{d.Descr}}</mat-option>
          </mat-select>
        </mat-cell>
      </ng-container>
    </div>

    <ng-container matColumnDef="State">
      <mat-header-cell *matHeaderCellDef mat-sort-header> State </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-select [disabled]="!row.editing" [(ngModel)]="row.State" placeholer="State" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let sub of subscriptionstate" [value]="sub.Id">
            {{sub.Descr}} </mat-option>
        </mat-select>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actionsColumn">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="accent" (click)="createUsersubscription()" matTooltip="Create new record"><i
            class="fa fa-plus mat-icon fa-lg"></i></button>
        <button matTooltip="Export to Excel" mat-icon-button style="color: green;" (click)="exportXLSUsersSubs()"><i
            class="fa fa-file-excel-o mat-icon fa-lg"></i></button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">

        <button mat-icon-button color="primary" focusable="false" (click)="row.editing=!row.editing"
          matTooltip="Start editing" *ngIf="!row.editing">
          <i class="fa fa-pencil mat-icon fa-lg"></i>
        </button>

        <button mat-icon-button color="primary" focusable="false" (click)="row.editing=!row.editing"
          matTooltip="Stop editing" *ngIf="row.editing">
          <i class="fa fa-check mat-icon fa-lg"></i>
        </button>

        <button mat-icon-button color="warn" focusable="false" (click)="deleteUsersubscription(row.Id)"
          matTooltip="Delete record" *ngIf="!row.editing">
          <i class="fa fa-times mat-icon fa-lg"></i>
        </button>

        <button mat-icon-button style="color: green;" focusable="false" matTooltip="Save changes"
          (click)="updateUsersubscription(row.Id, row.Userid, row.Lessonid, row.Duration, row.Price, row.Date, row.Discount, row.Day, row.State)"
          [disabled]="row.editing">
          <i class="fa fa-save mat-icon fa-lg"></i>
        </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
